In [24]:
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,f1_score,recall_score 

df = pd.read_csv("/content/drive/MyDrive/Latihan Keamanan Jaringan/Data Ibu Hamil (Cleaning).csv")

In [25]:
df = df[['Umur',	'Sistole',	'Diastole',	'TB',	'BB',	'IMT', 'Lingkar Perut', 'Diagnosis']]

In [26]:
df['Umur'] = df['Umur'].str.replace(r'\D', '')
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    Umur  Sistole  Diastole     TB    BB    IMT  Lingkar Perut Diagnosis
0    222      123        75  163.0  53.8  20.25           83.0       Z34
1    244      120        76  157.0  88.2  35.78          108.0       Z34
2    249      110        66  149.0  57.9  26.08           94.0       Z34
3    242      114        65  154.0  51.8  21.84          105.0       Z34
4    421       14        95  158.0  56.5  22.63           80.0       Z34
..   ...      ...       ...    ...   ...    ...            ...       ...
700  270      117        62  155.0  69.8  29.05          100.0       Z34
701  402      116        71  153.0  66.0  28.19           80.0       Z34
702  429      151        92  158.0  60.0  24.03           79.0       Z39
703  369      113        63  155.0  50.5  21.02          106.0       Z34
704  308      116        71  158.0  67.0  26.84           70.0       Z34

[705 rows x 8 columns]

In [27]:
df.head()

  Umur  Sistole  Diastole     TB    BB    IMT  Lingkar Perut Diagnosis
0  222      123        75  163.0  53.8  20.25           83.0       Z34
1  244      120        76  157.0  88.2  35.78          108.0       Z34
2  249      110        66  149.0  57.9  26.08           94.0       Z34
3  242      114        65  154.0  51.8  21.84          105.0       Z34
4  421       14        95  158.0  56.5  22.63           80.0       Z34

In [28]:
df.columns

Index(['Umur', 'Sistole', 'Diastole', 'TB', 'BB', 'IMT', 'Lingkar Perut',
       'Diagnosis'],
      dtype='object')

In [29]:
df['Diagnosis'].value_counts()

Z34    626
Z39     79
Name: Diagnosis, dtype: int64

In [30]:
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X = df.apply(le.fit_transform)
X

     Umur  Sistole  Diastole  TB   BB  IMT  Lingkar Perut  Diagnosis
0      46       36        25  33   74   48             25          0
1      66       33        26  26  262  486             52          0
2      71       23        16  13  102  241             36          0
3      64       27        15  20   60   89             49          0
4     211        1        43  27   95  117             22          0
..    ...      ...       ...  ..  ...  ...            ...        ...
700    95       30        12  22  186  338             43          0
701   201       29        21  19  159  310             22          0
702   214       62        41  27  117  177             20          1
703   185       26        13  22   51   68             50          0
704   135       29        21  27  166  265             10          0

[705 rows x 8 columns]

In [31]:
x = X[['Umur',	'Sistole',	'Diastole',	'TB',	'BB',	'IMT',	'Lingkar Perut']]

In [32]:
y = df[['Diagnosis']].values

In [33]:
 x

     Umur  Sistole  Diastole  TB   BB  IMT  Lingkar Perut
0      46       36        25  33   74   48             25
1      66       33        26  26  262  486             52
2      71       23        16  13  102  241             36
3      64       27        15  20   60   89             49
4     211        1        43  27   95  117             22
..    ...      ...       ...  ..  ...  ...            ...
700    95       30        12  22  186  338             43
701   201       29        21  19  159  310             22
702   214       62        41  27  117  177             20
703   185       26        13  22   51   68             50
704   135       29        21  27  166  265             10

[705 rows x 7 columns]

In [34]:
y[0:5]

array([['Z34'],
       ['Z34'],
       ['Z34'],
       ['Z34'],
       ['Z34']], dtype=object)

In [35]:
from sklearn.model_selection import train_test_split
x1_train, x1_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=0)
print ('Train:', x1_train.shape, y_train.shape)
print ('Test:', x1_test.shape, y_test.shape)

Train: (564, 7) (564, 1)
Test: (141, 7) (141, 1)

In [36]:
from sklearn.svm import SVC
# from sklearn.naive_bayes import GaussianNB
model = SVC(kernel='rbf', gamma='auto')
# model = GaussianNB() 
model.fit(x1_train, y_train)
Hasil_Prediksi=model.predict(x1_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
print("Akurasinya :",(accuracy_score(Hasil_Prediksi,y_test))*100, "%")

Akurasinya : 90.78014184397163 %

In [41]:
print(model.predict([[214,	62,	41,	27,	117,	177,	20]])[0])

Z39

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

In [39]:
from sklearn import tree

# membuat model dengan decision tree clasifier

clf = tree.DecisionTreeClassifier()

In [40]:
from sklearn.model_selection import cross_val_score

# mengevaluasi performa model dengan cross_val_score
scores = cross_val_score(clf, x, y, cv=5)
scores.mean()

0.8184397163120567